### Datasets
DATASET_PATH_BASE = '/path/to/query-rewriter/search_indices/datasets/'

### Indices used by the Whoosh-based search engines
INDEX_PATH_BASE = '/path/to/query-rewriter/search_indices/'

### Machine learning models used by query rewriters
MODEL_PATH_BASE = '/path/to/query-rewriter/search_indices/models/'
